!!!
%html{ng:{app: 'App'}}
  %head
    %title Socialmeow
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "header"
    = yield
    = render "angular_templates"